.budget-info, .transaction-info
{
    text-align: center;
    margin-top: 10px;
}

.budget-info-cell, .transaction-info-cell
{
    text-align: center;
}

.charts
{
    margin: auto;
}

.confirmation-msg
{
    text-align: center;
    margin: auto;
}

.error-msg
{
    text-align: center;
    margin: auto;
    color: red;
}

.form-label
{
    margin-right: 6px;
    margin-top: 6px;
}

.form-control
{

}

body
{
    background-color:rgb(242, 242, 233);
}

h1, h2, h3, h4, h5, h6
{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}



table, td
{
    margin: auto;
    padding: 10px;
}

#transactionAdd
{
    border: solid, 1px;
}

#transactionHistory
{
    border: solid, 1px;
}