.budget-info, .transaction-info
{
    text-align: center;
    margin-top: 10px;
}

.budget-info-cell, .transaction-info-cell
{
    text-align: center;
}

.charts
{
    margin: auto;
}

.confirmation-msg
{
    text-align: center;
    margin: auto;
}

.error-msg
{
    text-align: center;
    margin: auto;
    color: red;
}

.form-label
{
    margin-right: 6px;
    margin-top: 6px;
}

.textarea 
{
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

aside
{
    width: 30%;
    max-width: 300px;
    float: right;
    background-color: lightgray;
    padding: 15px;
}

body
{
    background-color:whitesmoke;
}

h1, h2, h3, h4, h5, h6
{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}



table
{
    margin: auto;
    padding: 6px;
    table-layout: fixed;
}

td
{
    margin: auto;
    padding: 6px;
    word-wrap: break-word;
}

#transactionAdd
{
    border: solid, 1px;
    padding:0;

}

#transactionHistory
{
    padding-left: 50px;
    padding-right: 50px;
}

/* The @media tag allows you to set different CSS properties for different screen sizes, which helps with mobile responsiveness. */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) 
    {

	/* Force table to not be like tables anymore */
	.table-cards, .thead-cards, .tbody-cards, .th-cards, .td-cards, .tr-cards { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.thead-cards .tr-cards { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tr-cards { border: 1px solid #ccc; }
	
	.td-cards { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
        text-align: center;
	}
	
	.td-cards:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 30%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align: left;
        font-weight:bold;
	}

    .td-cards:nth-of-type(1):before { content: "Transaction No."; }
	.td-cards:nth-of-type(2):before { content: "Date"; }
	.td-cards:nth-of-type(3):before { content: "Transaction"; }
	.td-cards:nth-of-type(4):before { content: "Letter"; }
	.td-cards:nth-of-type(5):before { content: "Amount"; }
}

