{% extends "layout.html" %}

{% block title %} 
    About 
{% endblock %} 

{% block main %}
    <div class="container-fluid">
        <aside>
            <h4><u>Stack</u></h4>
            <strong>Front End</strong>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
            </ul>
            <strong>Back End</strong>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>SQLite3</li>
            </ul>
            
        </aside>
    </div>
{% endblock %}