<!DOCTYPE html>

<html lang="en">
    <head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="static/style.css" rel="stylesheet">

<title>CS50 Final | {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(88, 134, 131)">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Budget Tracker</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/setup">Setup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/transactions">Transactions</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>

        </footer>

    </body>
</html>