{% extends "layout.html" %}

{% block title %} 
    Setup 
{% endblock %} 

{% block main %}
<div class="error-msg"> {{ message }}</div>
<h1>Project Setup</h1>
<div class="container-fluid">
    <table>
        <form action="/setup" method="post">
            <tr>
                <td>
                    <label for="name">Project Name:</label>
                </td>
                <td>   
                    <input type="text" class="form-control" name="name" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="owner">Project Owner:</label>
                </td>
                <td>   
                    <input type="text" class="form-control" name="owner" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="location">Location:</label>
                </td>
                <td>   
                    <input type="text" class="form-control" name="location" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="startdate">Start Date:</label>
                </td>
                <td>  
                    <input type="date" class="form-control" name="date" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="duration">Duration (days):</label>
                </td>
                <td>  
                    <input type="number" class="form-control" name="duration" min="0" autocomplete="off">
                </td>
            </tr>
    </table>    
</div>

<div class="budget-info">
        <table>
            <tr>
                <td>Letter</td>
                <td>Description</td>
                <td>Budget Amount</td>
            </tr>
            <!-- Hard coded the range of 5. Matches the setup route in app.py. Changes to this value must be made in both places. -->
            {% for i in range(5) %}
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" size="2" maxlength="1" name="letter {{ i }}" autocomplete="off">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="description {{ i }}" autocomplete="off">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" name="budget {{ i }}" autocomplete="off">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="input-group mb-3 container-fluid">
            <input type="submit" class="btn btn-dark" style="margin:auto">
        </div>
        </form>    
</div>

{% endblock %}